#product-detail .swiper-wrapper {
  position: relative;
}

#product-detail .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
}

@media (max-width: 640px) {
  #proudct-detail .sticky {
    top: 0; /* Adjust this value based on your requirements */
  }
}
